extends layout

block body
  .container.m-3
    .row
      .col-lg-6
        <form method="post">
          <div class="form-group row">
            <label for="input-mysqlu" class="col-sm-2 form-control-label">MySQL Username</label>
            <div class="col-sm-10">
              if (session && session.body && session.body.MYSQL_USER)
                <input type="text" class="form-control" id="input-mysqlu" name="MYSQL_USER" placeholder="mysqlu" value="#{session.body.MYSQL_USER}" />
              else
                <input type="text" class="form-control" id="input-mysqlu" name="MYSQL_USER" placeholder="mysqlu" value="" />
            </div>
          </div>
          <div class="form-group row">
            <label for="input-mysqlp" class="col-sm-2 form-control-label">MySQL Password</label>
            <div class="col-sm-10">
              if (session && session.body && session.body.MYSQL_PASSWORD)
                <input type="password" class="form-control" id="input-mysqlp" name="MYSQL_PASSWORD" placeholder="mysqlp" value="#{session.body.MYSQL_PASSWORD}" />
              else
                <input type="password" class="form-control" id="input-mysqlp" name="MYSQL_PASSWORD" placeholder="mysqlp" value="" />
            </div>
          </div>
          <div class="form-group row">
            <label for="input-mysqldb" class="col-sm-2 form-control-label">MySQL Database</label>
            <div class="col-sm-10">
              if (session && session.body && session.body.MYSQL_DATABASE)
                <input type="text" class="form-control" id="input-mysqldb" name="MYSQL_DATABASE" placeholder="mysqldb" value="#{session.body.MYSQL_DATABASE}" />
              else
                <input type="text" class="form-control" id="input-mysqldb" name="MYSQL_DATABASE" placeholder="mysqldb" value="" />
            </div>
          </div>
          <div class="form-group row">
            <label for="input-mysqlh" class="col-sm-2 form-control-label">MySQL Host</label>
            <div class="col-sm-10">
              if (session && session.body && session.body.MYSQL_HOST)
                <input type="text" class="form-control" id="input-mysqlh" name="MYSQL_HOST" placeholder="mysqlh" value="#{session.body.MYSQL_HOST}" />
              else
                <input type="text" class="form-control" id="input-mysqlh" name="MYSQL_HOST" placeholder="mysqlh" value="" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2">Install Schema</label>
            <div class="col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="install" checked> Install Database Schema, discarding old data and installing admin user?
                </label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-secondary">Reset</button>
            </div>
          </div>
        </form>
      if (query.err)
        .col-lg-6
          h3 Error
            p= query.err
